
@import "~@fontsource/lusitana";
@import "~@fontsource/la-belle-aurore";
@import "~@fontsource/yaldevi";
@import "~@fontsource/yaldevi/300.css";

@import "~@fontsource/sen";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color:  var(--inactive) var(--searchpanel);

}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-thumb:hover {
  background: var(--lightactionbtn);
}
*::-webkit-scrollbar-track {
  background: var(--searchpanel));
   box-shadow: inset var(--lightshadow);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--inactive);
  border-radius: 20px;
  cursor: pointer;
  border: 1.5px solid var(--inactive);

}

::-webkit-scrollbar-corner{
  background: var(--inactive);

}

.noScrollBar::-webkit-scrollbar {
  display: none;}

.noScrollBar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

html{
    scroll-behavior: smooth;
}

:root{
  --midnight: #2E3B4A;
  --velvet: #611016;
  --cinerous: #C1BEBE;
  --desert-rose:#A94758;
  --lilac: #DDDFE9;
  --occlusion: #312727;
  --highlight: #E7B1A7;
  --neutral: #B4B4B4;
  --works-text: #708083;
  --works-accent:#A8B4B6;
  --works-bg:#DDE1E2;

  --contact-text: #D4BAC1;
  --contact-accent: #4F577F;
  --contact-bg: #79839C;
  --contact-dark:#3b4760;

  --table-dark: #2E3B4A;
  --table-light: #F0F3F4;
  --table-neutral: #DDE1E4;


  --works-gradient-rl:
  linear-gradient(to left, rgba(46, 59, 74, 0.5),rgba(46, 59, 74, 0.3)),
  linear-gradient(to left, rgba(106, 123, 130, 0.7) 0%, rgba(142, 149, 180, 0) 100%);

  --works-gradient-lr:
   linear-gradient(to right, rgba(46, 59, 74, 0.5),rgba(46, 59, 74, 0.3)),
   linear-gradient(to right, rgba(106, 123, 130, 0.7) 0%, rgba(142, 149, 180, 0) 100%);

  --works-hover-gradient-rl:
   linear-gradient(to left, rgba(46, 59, 74, 0.5),rgba(46, 59, 74, 0.3)),
   linear-gradient(to left, rgba(169, 71, 88, 0.8) 0%, rgba(97, 16, 22, 0.8) 100%);

  --works-hover-gradient-lr:
   linear-gradient(to right, rgba(46, 59, 74, 0.5),rgba(46, 59, 74, 0.3)),
   linear-gradient(to right, rgba(169, 71, 88, 0.8) 0%, rgba(97, 16, 22, 0.8) 100%);


  --mobile-nav-gradient-lr:
  linear-gradient(to left, rgba(142, 149, 180, 0) 0%,  rgba(221, 223, 233, 0.6) 100%);


  --mobile-nav-gradient-rl:
  linear-gradient(to right, rgba(142, 149, 180, 0) 0%,  rgba(221, 223, 233, 0.6) 100%);
  --mobile-nav-hover-gradient-lr:
  linear-gradient(to left, rgba(97, 16, 22, 0.6) 0%, rgba(221, 223, 233, 0.6)  50.12%,  rgba(221, 223, 233, 0.6) 94.91%);
  --mobile-nav-hover-gradient-rl:
  linear-gradient(to right, rgba(97, 16, 22, 0.6) 0%, rgba(221, 223, 233, 0.6)  50.12%,  rgba(221, 223, 233, 0.6) 94.91%);

--mobileheight:calc(100vh - 5rem);
--desktopheight:calc(100vh - 5rem);
--grid-image-width:calc(50vw - 3rem);

  --main-headline1: 5.5rem/1.5 "Lusitana", serif;
  --main-headline2: 4rem/1.5 "Lusitana", serif;
  --main-headline3: 3.2rem/1.5 "Lusitana", serif;
  --main-headline4: 2.3rem/1.5 "Lusitana", serif;
  --main-headline5: 1.8rem/1.5 "Yaldevi", sans-serif;
  --main-headline6: 500 1.35rem/1.5 "Yaldevi", sans-serif;
  --main-body1:  1rem/1.5 "Yaldevi", sans-serif;
  --main-body2:  0.8rem/1.5 "Yaldevi", sans-serif;
  --main-subtitle1: 1.55rem/1.5 "La Belle Aurore", serif;
  --main-subtitle2: 500 0.95rem/1.5 "La Belle Aurore", serif;
  --main-button: 1.2rem/1.4 "La Belle Aurore", serif;
  --main-overline:  0.65rem/1.5"Yaldevi", sans-serif;
  --main-caption:  0.8rem/1.5 "Yaldevi", sans-serif;

  --mobile-logo: 1.45rem/1.5 "La Belle Aurore", serif;
  --desktop-logo: 1.25rem/1.5 "La Belle Aurore", serif;

}


h1{ font:var(--main-headline1);
text-transform: capitalize;
letter-spacing: -0.094rem;}
h2{ font:var(--main-headline2);
text-transform: capitalize;
letter-spacing: -0.03rem;}
h3{ font:var(--main-headline3);
text-transform: capitalize;}
h4{ font:var(--main-headline4);
text-transform: capitalize;
letter-spacing: 0.0156rem;}
h5{font:var(--main-headline5);
text-transform: capitalize;}
h6{font:var(--main-headline6);
text-transform: capitalize;
letter-spacing: 0.01rem;}
body{font:var(--main-body1);}
.h1{ font:var(--main-headline1);
text-transform: capitalize;
letter-spacing: -0.094rem;}
.h2{ font:var(--main-headline2);
text-transform: capitalize;
letter-spacing: -0.03rem;}
.h3{ font:var(--main-headline3);
text-transform: capitalize;}
.h4{ font:var(--main-headline4);
text-transform: capitalize;
letter-spacing: 0.0156rem;}
.h5{font:var(--main-headline5);
text-transform: capitalize;}
.h6{font:var(--main-headline6);
text-transform: capitalize;
letter-spacing: 0.01rem;}j
.body1{font:var(--main-body1);}
.body2{font:var(--main-body2);}
.subtitle1{font:var(--main-subtitle1);
text-transform: capitalize;
letter-spacing: 0.01rem;}
.subtitle2{font:var(--main-subtitle2);
text-transform: capitalize;
letter-spacing: 0.0156rem;}
.btn{font:var(--main-button);
  letter-spacing: 0.078rem;
}
.overline{font:var(--main-overline);
text-transform: uppercase;
}
.caption{font:var(--main-caption);
  letter-spacing: 0.025rem;
}

.mobile-logo{font:var(--mobile-logo);}
.desktop-logo{font:var(--desktop-logo);}

.desktopNavLink{
  text-decoration: none;
  width:100px;
  opacity:0.9;
}

.desktopNavLink:hover{
  opacity:1;
}
.rootContainer{
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.Row{
  display:flex;
  flex-direction: row;
}

.Column{
  display:flex;
  flex-direction: column;
}


.RowCentered{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ColumnCentered{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.selfCentered{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btn {
  align-self: flex-end;
  padding: 0.3rem 0.3rem;
  cursor: pointer;
  letter-spacing: 0.078rem;
  border-radius: 3px;
  border: 1.5px solid var(--highlight);
  margin-top: 2rem;
  text-decoration: none;
  font: var(--main-button);
}


.scrollIndicatorBio {
  width: 1.5px;
  height: 0px;
  background-color: var(--darkactionbtn);
  top: 0;
  bottom: initial;
  animation: line-animation 2.5s ease-in-out 0s infinite normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scrollIndicatorBio::before {
  content: '';
  width: 10px;
  height: 10px;
  border-right: 2px solid var(--darkactionbtn);
  border-bottom: 2px solid var(--darkactionbtn);
  transform: rotate(45deg);
  display: block;
  position: absolute;
  bottom: 0;
  animation: arrow-animation 2.5s ease-in-out 0s infinite normal;
  left:30vw;

}
.scrollIndicatorBio::after {
  content: '';
  width: 10px;
  height: 10px;
  border-right: 2px solid var(--darkactionbtn);
  border-bottom: 2px solid var(--darkactionbtn);
  transform: rotate(45deg);
  display: block;
  position: absolute;
  bottom: 7px;
  animation: arrow-animation 2.5s ease-in-out 0s infinite normal;
  left:30vw;

}



.NavLink{
  color: var(--detailspaneltext);
  text-decoration: none;
  padding:0 3rem;
  display:inline-block;
  text-decoration: none;
  padding:0.5rem 2rem;
  transition-duration: 0.6s;
  background: inherit;
  opacity:0.6;
  cursor:pointer;
}

.transition{
    transition-duration: 0.3s;
}


@keyframes line-animation {
  0% {opacity: 0.5}
  50% {opacity: 0.9}
  100% {opacity: 0.5}
}

@keyframes arrow-animation {
  0% {opacity: 0.5}
  50% {opacity: 0.9}
  100% {opacity: 0.5}
}

.gridImage{
 height:100%;
 width:100%;
 top:0px;
 position:absolute;
 opacity:0.5;
 object-fit:cover;
}

.bgImage{
  width:100vw;
  height:100vh;
  object-fit:cover;
  filter:saturate(0);
  mix-blend-mode:multiply;
  opacity:0.6;
}

.grid-container {
  width:80vw;
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 2rem;
  grid-column-gap: 2.5rem;

}

.grid-container-mobile {
  width:100vw;
  display: grid;
  grid-template-columns: 3;
  align-content: stretch;
  height:var(--mobileheight);
}

.grid-book {
  grid-row-start: 1;
  grid-row-end: 3;
}

.grid {
  position:relative;
}


.grid-rl:after {
  position: absolute;
  bottom: 0;
  left:0;
  content:'';
  height: 100%;
  width: 100%;
  background: var(--works-gradient-rl);
  pointer-events: none;
  mix-blend-mode:multiply;
}

.grid-rl-hover:after{
  position: absolute;
  bottom: 0;
  left:0;
  content:'';
  height: 100%;
  width: 100%;
  background-image:var(--works-hover-gradient-rl);
  pointer-events: none;
  mix-blend-mode:multiply;
}

.grid-lr:after {
  position: absolute;
  bottom: 0;
  left:0;
  content:'';
  height: 100%;
  width: 100%;
  background: var(--works-gradient-lr);
  pointer-events: none;
  mix-blend-mode:multiply;

}

.grid-lr-hover:after {
  position: absolute;
  bottom: 0;
  left:0;
  content:'';
  height: 100%;
  width: 100%;
  background-image: var(--works-hover-gradient-lr);
  mix-blend-mode:multiply;
  pointer-events: none;
}


.mobile-nav-lr:after{
  background-image:var(--mobile-nav-gradient-lr);
  position: absolute;
  bottom: 0;
  left:0;
  content:'';
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.mobile-nav-rl:after{
  background-image:var(--mobile-nav-gradient-rl);
  position: absolute;
  bottom: 0;
  left:0;
  content:'';
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.mobile-nav-rl-hover:after{
  background:var(--mobile-nav-hover-gradient-rl);
  position: absolute;
  bottom: 0;
  left:0;
  content:'';
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.mobile-nav-lr-hover:after{
  background:var(--mobile-nav-hover-gradient-lr);
  position: absolute;
  bottom: 0;
  left:0;
  content:'';
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.boxDecoration-navMobileBottom:after{
  border:2px solid var(--velvet);
  border-radius:2px;
  height:0.8rem;
  width:25vw;
  margin:1.5rem 0;
  position: absolute;
  z-index: 50;
  bottom:-2rem;
  left:calc(37.5vw);
  content:'';
  pointer-events: none;
}


.boxDecoration-navMobileTop:before{
  border:2px solid var(--velvet);
  border-radius:2px;
  height:0.8rem;
  width:25vw;
  margin:1.5rem 0;
  position: absolute;
  z-index: 50;
  top:-2rem;
  left:calc(37.5vw);
  content:'';
  pointer-events: none;
}


.boxDecoration{
  border:1.5px solid var(--midnight);
  border-radius:2px;
  height:0.6rem;
  width:4rem;
  margin:1.5rem 0;
}

label{
  font:1.2rem/1.5 "Lusitana", serif;
  align-self: flex-start;
  margin-top: 0.5rem;
}

input{
  font:1rem/1.5 "Lusitana", serif;
  border-radius: 3px;
  border: 1.5px solid var(--contact-text);
  background: var(--cinerous);
  text-align: left;
  height: 1.8rem;
  color:var(--midnight);
  padding: 0 0.5rem;
}

input::placeholder{
  text-align: center;
  padding: 0.1rem 0.5rem;
}


input:focus{
  border: 2px solid var(--highlight);
  outline: none !important;
}

textarea{
  font:1rem/1.5 "Lusitana", serif;
  border-radius: 3px;
  border: 1.5px solid var(--contact-text);
  background: var(--cinerous);
  text-align: left;
  color:var(--contact-accent);
  padding: 0.3rem 0.5rem;

}

textarea:focus{
  border: 2px solid var(--highlight);
  outline: none !important;
}

textarea::placeholder{
  padding: 0.3rem 0.5rem;
  outline: none !important;
}

button{
  background:var(--desert-rose);
  color:var(--highlight);
  border:none;
  padding:0.5rem 2rem;
}

button:focus{
  border: 2px solid var(--highlight);
  outline: none !important;
}

.mainImage-desktop::before{
background:  url(./components/works/projects/sections/images/triangle-desktop.svg) top left/100% auto no-repeat;
content: '';
position: absolute;
z-index:20;
top: -1px;
left: -1px;
width: 100vw;
height: calc(100% + 2px);
box-sizing: border-box;
border: 0;
font-size: 100%;
line-height: 100%;
}

.mainImage-mobile::before{

background:  url(./components/works/projects/sections/images/triangle-mobile.svg) top left/100% auto no-repeat;
content: '';
z-index:20;
position: absolute;
top: -1px;
left: -1px;
width: 100vw;
height: calc(100% + 2px);
box-sizing: border-box;
border: 0;
font-size: 100%;
line-height: 100%;
}
