
@import "~@fontsource/lusitana";
@import "~@fontsource/la-belle-aurore";
@import "~@fontsource/yaldevi";

@import "~@fontsource/lato";
@import "~@fontsource/ibm-plex-sans";




@import "~@fontsource/lora";
@import "~@fontsource/quicksand";

@import "~@fontsource/amiri";
@import "~@fontsource/jost";
@import "~@fontsource/palanquin";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color:  var(--table-light) var(--neutral);

}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-thumb:hover {
  border-top: 4px double var(--table-light);
  transition-duration: 0.2s;
  cursor:grab;
}
*::-webkit-scrollbar-track {
  border-bottom: 2px solid var(--cinerous);

}

*::-webkit-scrollbar-thumb {
  background-color: var(--cinerous);
  cursor:grab;
  transition-duration: 0.2s;

}

::-webkit-scrollbar-corner{
  background: var(--cinerous);

}

.noScrollBar::-webkit-scrollbar {
  display: none;}

.noScrollBar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

html{
    scroll-behavior: smooth;
}

body{
  font-size: 14px;
}


:root{
  --midnight: #2E3B4A;
  --velvet: #611016;
  --cinerous: #C1BEBE;
  --desert-rose:#A94758;
  --lilac: #DDDFE9;
  --occlusion: #312727;
  --highlight: #E7B1A7;
  --neutral: #B4B4B4;
  --works-text: #3c5452;
  --works-accent:#A8B4B6;
  --works-bg:#DDE1E2;

  --contact-text: #f4cdd8;
  --contact-accent: #4F577F;
  --contact-bg: #79839C;
  --contact-dark:#3b4760;

  --table-dark: #2E3B4A;
  --table-light: #F0F3F4;
  --table-neutral: #DDE1E4;


  --works-gradient-rl:
  linear-gradient(to left, rgba(46, 59, 74, 0.4),rgba(46, 59, 74, 0.2)),
  linear-gradient(to left, rgba(106, 123, 130, 0.9) 0%, rgba(142, 149, 180, 0) 100%);

  --works-gradient-lr:
   linear-gradient(to right, rgba(46, 59, 74, 0.4),rgba(46, 59, 74, 0.2)),
   linear-gradient(to right, rgba(106, 123, 130, 0.9) 0%, rgba(142, 149, 180, 0) 100%),
  
   linear-gradient(to right, #DDDFE9 0%, #DDDFE9 100%);

  --works-hover-gradient-rl:
   linear-gradient(to left, rgba(46, 59, 74, 0.5),rgba(46, 59, 74, 0.3)),
   linear-gradient(to left, rgba(169, 71, 88, 0.8) 0%, rgba(97, 16, 22, 0.8) 100%);

  --works-hover-gradient-lr:
   linear-gradient(to right, rgba(46, 59, 74, 0.5),rgba(46, 59, 74, 0.3)),
   linear-gradient(to right, rgba(169, 71, 88, 0.8) 0%, rgba(97, 16, 22, 0.8) 100%);


  --mobile-nav-gradient-lr:
  linear-gradient(to left, rgba(142, 149, 180, 0) 0%,  rgba(221, 223, 233, 0.6) 100%);


  --mobile-nav-gradient-rl:
  linear-gradient(to right, rgba(142, 149, 180, 0) 0%,  rgba(221, 223, 233, 0.6) 100%);
  --mobile-nav-hover-gradient-lr:
  linear-gradient(to left, rgba(97, 16, 22, 0.6) 0%, rgba(221, 223, 233, 0.6)  50.12%,  rgba(221, 223, 233, 0.6) 94.91%);
  --mobile-nav-hover-gradient-rl:
  linear-gradient(to right, rgba(97, 16, 22, 0.6) 0%, rgba(221, 223, 233, 0.6)  50.12%,  rgba(221, 223, 233, 0.6) 94.91%);

  --carousel-gradient:
    linear-gradient(to top, rgba(49, 39, 39, 0.8) 0%,rgba(349, 39, 39, 0) 50%);

--mobileheight:calc(100vh - 3.5rem);
--desktopheight:calc(100vh - 3.5rem);
--grid-image-width:calc(50vw - 3rem);

  --main-headline1: 5rem/1.5 "Lusitana", serif;
  --main-headline2: 4rem/1.5 "Lusitana", serif;
  --main-headline3: 2.6rem/1.5 "Lusitana", serif;
  --main-headline4: 2.3rem/1.5 "Lusitana", serif;
  --main-headline5: 1.6rem/1.5 "Yaldevi", sans-serif;
  --main-headline6: 500 1.35rem/1.5 "Yaldevi", sans-serif;
  --main-body1:  1.1rem/1.4 "IBM Plex Sans", sans-serif;
  --main-body2:  1rem/1.4 "IBM Plex Sans", sans-serif;
  --main-subtitle1: 1.55rem/1.5 "La Belle Aurore", serif;
  --main-subtitle2: 500 0.95rem/1.5 "La Belle Aurore", serif;
  --main-button: 1.35rem/1.4 "La Belle Aurore", serif;
  --main-overline:  1.2rem/1.5"Yaldevi", sans-serif;
  --main-caption:  1rem/1.5 "Yaldevi", sans-serif;

  --mobile-logo: 1.6rem/1.5 "La Belle Aurore", serif;
  --desktop-logo: 1.4rem/1.5 "La Belle Aurore", serif;

}


.IBMPlexSans{
  font-family: "IBM Plex Sans";
}
.Lusitana{
  font-family: "Lusitana";
}
.LaBelleAurore{
  font-family: "La Belle Aurore";
}

.Lora{
  font-family: "Lora";
}
.Quicksand{
  font-family: "Quicksand";
}

.Jost{
  font-family: "Jost";
}
.Amiri{
  font-family: "Amiri";
}
.Palanquin{
  font-family: "Palanquin";
}

h1{ font:var(--main-headline1);
text-transform: capitalize;
letter-spacing: -0.094rem;}
h2{ font:var(--main-headline2);
text-transform: capitalize;
letter-spacing: -0.03rem;
padding-top: 3rem;}
h3{ font:var(--main-headline3);
text-transform: capitalize;
padding-top: 2rem;}
h4{ font:var(--main-headline4);
text-transform: capitalize;
letter-spacing: 0.0156rem;
}
h5{font:var(--main-headline5);
text-transform: capitalize;}
h6{font:var(--main-headline6);
text-transform: capitalize;
letter-spacing: 0.01rem;}
body{font:var(--main-body1);}
.h1{ font:var(--main-headline1);
text-transform: capitalize;
letter-spacing: -0.094rem;}
.h2{ font:var(--main-headline2);
text-transform: capitalize;
letter-spacing: -0.03rem;}
.h3{ font:var(--main-headline3);
text-transform: capitalize;}
.h4{ font:var(--main-headline4);
text-transform: capitalize;
letter-spacing: 0.0156rem;}
.h5{font:var(--main-headline5);
text-transform: capitalize;}
.h6{font:var(--main-headline6);
text-transform: capitalize;
letter-spacing: 0.01rem;}
.body1{font:var(--main-body1);}
.body2{font:var(--main-body2);}
.subtitle1{font:var(--main-subtitle1);
text-transform: capitalize;
letter-spacing: 0.01rem;}
.subtitle2{font:var(--main-subtitle2);
text-transform: capitalize;
letter-spacing: 0.0156rem;}
.btn{font:var(--main-button);
  letter-spacing: 0.078rem;
}
.overline{font:var(--main-overline);
text-transform: uppercase;
}
.caption{font:var(--main-caption);
  letter-spacing: 0.025rem;
}

.mobile-logo{font:var(--mobile-logo);}
.desktop-logo{font:var(--desktop-logo);}

.desktopNavLink{
  text-decoration: none;
  width:100px;
  opacity:0.9;
}

.desktopNavLink:hover{
  opacity:1;
}
.rootContainer{
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.Row{
  display:flex;
  flex-direction: row;
}

.Column{
  display:flex;
  flex-direction: column;
}


.RowCentered{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ColumnCentered{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.selfCentered{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btn {
  align-self: flex-end;
  padding: 0.3rem 0.3rem;
  cursor: pointer;
  letter-spacing: 0.078rem;
  border-radius: 3px;
  border: 1.5px solid var(--highlight);
  margin-top: 2rem;
  text-decoration: none;
  font: var(--main-button);
}

.Aboutbtn:hover{
  background-color: var(--velvet);
  color:var(--cinerous);

}

.scrollIndicatorBio {
  width: 1.5px;
  height: 0px;
  background-color: var(--darkactionbtn);
  top: 0;
  bottom: initial;
  animation: line-animation 2.5s ease-in-out 0s infinite normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scrollIndicatorBio::before {
  content: '';
  width: 10px;
  height: 10px;
  border-right: 2px solid var(--darkactionbtn);
  border-bottom: 2px solid var(--darkactionbtn);
  transform: rotate(45deg);
  display: block;
  position: absolute;
  bottom: 0;
  animation: arrow-animation 2.5s ease-in-out 0s infinite normal;
  left:30vw;

}
.scrollIndicatorBio::after {
  content: '';
  width: 10px;
  height: 10px;
  border-right: 2px solid var(--darkactionbtn);
  border-bottom: 2px solid var(--darkactionbtn);
  transform: rotate(45deg);
  display: block;
  position: absolute;
  bottom: 7px;
  animation: arrow-animation 2.5s ease-in-out 0s infinite normal;
  left:30vw;

}



.NavLink{
  color: var(--detailspaneltext);
  text-decoration: none;
  padding:0 3rem;
  display:inline-block;
  text-decoration: none;
  padding:0.5rem 2rem;
  transition-duration: 0.6s;
  background: inherit;
  opacity:0.6;
  cursor:pointer;
}

.AboutWorksLink{
  color:inherit;
}


.transition{
    transition-duration: 0.3s;
}


@keyframes line-animation {
  0% {opacity: 0.5}
  50% {opacity: 0.9}
  100% {opacity: 0.5}
}

@keyframes arrow-animation {
  0% {opacity: 0.5}
  50% {opacity: 0.9}
  100% {opacity: 0.5}
}

.gridImage{
 height:100%;
 width:100%;
 top:0px;
 position:absolute;
 opacity:0.5;
 object-fit:cover;
}

.bgImage{
  width:100vw;
  height:100vh;
  object-fit:cover;
  filter:saturate(0);
  mix-blend-mode:multiply;
  opacity:0.6;
}


.AboutLanding:after {
  position: absolute;
  bottom: 0;
  left:0;
  content:'';
  height: 100%;
  width: 100%;
  opacity:0.85;
  background: linear-gradient(to right, rgba(97, 16, 22, 0.3) 0%, rgba(97, 16, 22, 0.3)), linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5));
  pointer-events: none;
  mix-blend-mode:multiply;
}

.grid-container {
  width:calc(80vw - 4rem);
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 1.7rem;
  grid-column-gap: 1.7rem;

}

.grid-container-mobile {
  width:100vw;
  display: grid;
  padding: 1rem;
  grid-row-gap: 1.6rem;
  grid-template-columns: 3;
  align-content: stretch;
  height:var(--mobileheight);
}

.grid-container-nav {
  width:100vw;
  display: grid;
  grid-template-columns: 3;
  align-content: stretch;
  height:var(--mobileheight);
}


.grid-book {
  grid-row-start: 1;
  grid-row-end: 3;
}

.grid {
  position:relative;
}


.grid-rl:after {
  position: absolute;
  bottom: 0;
  left:0;
  content:'';
  height: 100%;
  width: 100%;
  background: var(--works-gradient-rl);
  pointer-events: none;
  mix-blend-mode:multiply;
}


.grid-rl-hover:after{
  position: absolute;
  bottom: 0;
  left:0;
  content:'';
  height: 100%;
  width: 100%;
  background-image:var(--works-hover-gradient-rl);
  pointer-events: none;
  mix-blend-mode:multiply;
}

.grid-lr:after {
  position: absolute;
  bottom: 0;
  left:0;
  content:'';
  height: 100%;
  width: 100%;
  background: var(--works-gradient-lr);
  pointer-events: none;
  mix-blend-mode:multiply;

}

.grid-lr-hover:after {
  position: absolute;
  bottom: 0;
  left:0;
  content:'';
  height: 100%;
  width: 100%;
  background-image: var(--works-hover-gradient-lr);
  mix-blend-mode:multiply;
  pointer-events: none;
}


.mobile-nav-lr:after{
  background-image:var(--mobile-nav-gradient-lr);
  position: absolute;
  bottom: 0;
  left:0;
  content:'';
  height: 100%;
  width: 100%;
  pointer-events: none;
  transition-duration:0.5s;

}

.mobile-nav-rl:after{
  background-image:var(--mobile-nav-gradient-rl);
  position: absolute;
  bottom: 0;
  left:0;
  content:'';
  height: 100%;
  width: 100%;
  pointer-events: none;
  transition-duration:0.5s;

}

.mobile-nav-rl-hover:after{
  background:var(--mobile-nav-hover-gradient-rl);
  position: absolute;
  bottom: 0;
  left:0;
  content:'';
  height: 100%;
  width: 100%;
  pointer-events: none;
  transition-duration:0.5s;
}

.mobile-nav-lr-hover:after{
  background:var(--mobile-nav-hover-gradient-lr);
  position: absolute;
  bottom: 0;
  left:0;
  content:'';
  height: 100%;
  width: 100%;
  pointer-events: none;
  transition-duration:0.5s;
}

.carousel-gradient:after{
  background:var(--carousel-gradient);
  mix-blend-mode: multiply;
  position: absolute;
  bottom: 0;
  left:0;
  content:'';
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.boxDecoration-navMobileBottom:after{
  border:2px solid var(--velvet);
  border-radius:2px;
  height:0.8rem;
  width:25vw;
  margin:1.5rem 0;
  position: absolute;
  z-index: 50;
  bottom:-2rem;
  left:calc(37.5vw);
  content:'';
  pointer-events: none;
}


.boxDecoration-navMobileTop:before{
  border:2px solid var(--velvet);
  border-radius:2px;
  height:0.8rem;
  width:25vw;
  margin:1.5rem 0;
  position: absolute;
  z-index: 50;
  top:-2rem;
  left:calc(37.5vw);
  content:'';
  pointer-events: none;
}


.boxDecoration{
  border:1.5px solid var(--midnight);
  border-radius:2px;
  height:0.6rem;
  width:4rem;
  margin:1.5rem 0;
  flex-shrink: 0;
}

label{
  font:1.2rem/1.5 "Lusitana", serif;
  align-self: flex-start;
  margin-top: 0.5rem;
}

form input{
  font:1rem/1.5 "Lusitana", serif;
  border-radius: 3px;
  border: 1.5px solid var(--contact-text);
  background: var(--cinerous);
  text-align: left;
  height: 1.8rem;
  color:var(--midnight);
  padding: 0 0.5rem;
}

a:focus {
  text-decoration: underline;
}

form  input::placeholder{
  text-align: center;
  padding: 0.1rem 0.5rem;
}


form  input:focus{
  border: 1.5px solid var(--highlight);
  outline-offset:3.5px;
  outline: 1.5px solid var(--highlight);
}

textarea{
  font:1rem/1.5 "Lusitana", serif;
  border-radius: 3px;
  border: 1.5px solid var(--contact-text);
  background: var(--cinerous);
  text-align: left;
  color:var(--midnight);
  padding: 0.3rem 0.5rem;

}

textarea:focus{
  border: 1.5px solid var(--highlight);
  outline-offset:3.5px;
  outline: 1.5px solid var(--highlight);
}

textarea::placeholder{
  padding: 0.3rem 0.5rem;
  outline: none !important;
  opacity:0.75;
}

.contactBtn{
  background:var(--desert-rose);
  color:var(--contact-text);
  border:none;
  padding:0.5rem 2rem;
}

.contactBtn:focus{
  border: 2px solid var(--highlight);
  outline: none !important;
}


.modalBtn{
background:var(--table-neutral);
color:var(--table-dark);
border:none;
padding:0.5rem 2rem;
}

.modalBtn:hover{
color:var(--velvet);
outline: none !important;
border: none;
}

.carouselBtn{
background: none;
border:none;
color:var(--cinerous);
padding:0.5rem;
opacity:0.8rem;
transform:scaleY(1.1);
padding:0 1.5rem;
transition-duration:0.3s;
}

.carouselBtn:hover{
color:var(--velvet);
transform:scaleY(1.3);
outline: none !important;
border: none;
transition-duration :0.3s;

}


.modalCloseBtn{
  background:var(--velvet);
  color:var(--cinerous);
  outline: none !important;
  border: none;
}

.modalCloseBtn:hover{
  background:var(--desert-rose);
  color:var(--table-neutral);
  outline: none !important;
  border: none;
}

.modalBtn:focus{
  outline: none !important;
}

button:active{
  transform: scale(0.94);
}

button{
  cursor: pointer;
}

.mainImage-desktop::before{
background:  url(./components/works/projects/sections/images/triangle-desktop.svg) top left/100% auto no-repeat;
content: '';
position: absolute;
z-index:20;
top: -1px;
left: -1px;
width: 100vw;
height: calc(100% + 2px);
box-sizing: border-box;
border: 0;
font-size: 100%;
line-height: 100%;
}

.mainImage-mobile::before{

background:  url(./components/works/projects/sections/images/triangle-mobile.svg) top left/100% auto no-repeat;
content: '';
z-index:20;
position: absolute;
top: -1px;
left: -1px;
width: 100vw;
height: calc(100% + 2px);
box-sizing: border-box;
border: 0;
font-size: 100%;
line-height: 100%;
}

.TocLabel{
  position:relative;
  border-top:2px solid var(--occlusion);
  transition: transform ease 0.5s, border-top ease 0.25s;
}

.TocLabel:hover{
  border-top: 5px solid var(--velvet);
  color:var(--velvet);
  transform: scaleY(1.2);
  cursor:pointer;
}

.TocLabel:focus{
  border-top: 5px solid var(--velvet);
  color:var(--velvet);
  transform: scaleY(1.2);
  cursor:pointer;
}

.AboutLabel{
  position:relative;
  border-top:2px solid var(--velvet);
  transition: transform ease 0.5s, border-top ease 0.25s;
}

.AboutLabel:hover{
  border-top: 5px solid var(--desert-rose);
  transform: scaleY(1.2);
  cursor:pointer;
}

.AboutLabel:focus{
  border-top: 5px solid var(--desert-rose);
  transform: scaleY(1.2);
  cursor:pointer;
}


.HobbyLabel{
 font-family: "Yaldevi";
 padding:0.5rem;
 transition: transform ease 0.4s,  border-bottom ease 0.5s;

}

.HobbyLabel:hover{
  color:var(--highlight);
  transform: scale(1.2);
  transition: transform ease 0.4s,  border-bottom ease 0.5s;
  cursor:pointer;
}

.HobbyLabel:focus{
  color:var(--highlight);
  transform: scale(1.2);
  transition: transform ease 0.4s,  border-bottom ease 0.5s;
  cursor:pointer;
}

.ProjectSectionTitle{
  color:var(--midnight);
}

.AccordionLabel{
  position:relative;
  border-left: 3px solid var(--midnight);
  padding:0.5rem 1rem;
  transition: border-left ease 0.5s;
}

.AccordionLabel:hover{
  color:var(--velvet);
  border-left: 16px solid var(--midnight);
  cursor:pointer;
}

.AccordionLabel:focus{
  color:var(--velvet);
  border-left: 16px solid var(--midnight);
  cursor:pointer;
}


.grid-container-screens-and-features {
  width:calc(100% - 20rem);
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 1.5rem;
  grid-column-gap: 1rem;

}

.grid-container-screens-and-features-tablet {
  width:calc(100% - 10rem);
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 1.5rem;
  grid-column-gap: 1rem;
}

.grid-container-screens-and-features-mobile {
  width:calc(100% - 4rem);
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 1.5rem;
  grid-column-gap: 1rem;
}

.screens-and-features-item {
  overflow: hidden;
  position:relative;
  padding:2rem;
  outline:2px solid var(--works-accent);
  background:var(--table-light);
  transition: outline ease 0.4s, outline-offset ease 0.6s, transform ease 0.5s, border-top ease 0.25s;
}

.screens-and-features-item:hover {
  overflow: hidden;
  position:relative;
  padding:2rem;
  color:var(--midnight);
  box-shadow:none;
  outline:6px double var(--works-text);
  outline-offset:-4px;
  background:var(--table-light);
  transition: outline ease 0.4s, outline-offset ease 0.6s, transform ease 0.5s, border-top ease 0.25s;
}

.grid-container-resources {
  margin:2rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 1.4rem;
  grid-column-gap: 3rem;
}

.grid-container-resources-mobile {
  margin:2rem;
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 1.4rem;
  grid-column-gap: 3rem;
}


.gistStyles{
  height:70vh;
  overflow: auto;
  border-radius:10px;
}

.gistStyles > * {
  outline:none;
  border:none;
  border-radius:10px;

}

.gist-meta{
  position: sticky;
  bottom:0;
}

.displayNone{
  display: none;
}

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}

.ImageOverflowImg{
  transition:filter linear 0.5s, transform ease 0.3s;

}

.ImageOverflowImg:hover{
  transform:scale(1.1);
  transform-origin: center;
  cursor:zoom-in;
  transition:transform ease 0.3s;

}
.contact{
  outline: 4rem solid var(--desert-rose);
}

.works{
  outline: 4rem solid var(--midnight);
}

.about{
  outline:4rem solid var(--velvet);
}

.projectPage{
  outline:4rem solid var(--velvet);
}

.worksControls:hover{
  color:var(--velvet);
  transform: scaleX(1.1);
  border-color: var(--velvet); 
  transition-duration: 0.2s;
}

.worksControls:active{
  color:var(--velvet);
  transform: scaleX(1.1);
  border-color: var(--velvet); 
  transition-duration: 0.2s;
}

.projectItem{
  outline: 1.5px solid var(--midnight);
  box-shadow:none;
  border-bottom: 6px solid var(--works-accent);
}

.showLilac{
  background:var(--lilac);
  box-shadow:rgba(60, 84, 82, 0.25) 0px 6px 12px -2px, rgba(60, 84, 82, 0.3) 0px 3px 7px -3px;
  outline:none;
  border-bottom: 6px solid var(--cinerous);
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (max-width: 359px) {
html { font-size: 11px;}
}

@media screen and (min-width: 600px) {
html { font-size: 12px;}
}

@media screen and (min-width: 800px) {
html { font-size: 13px;}
}


@media screen and (min-width: 1000px) {
html { font-size: 14px;}
}

@media screen and (min-width: 1600px) {
html { font-size: 18px;}
}

@media screen and (min-width: 2000px) {
html { font-size: 23px;}

}@media screen and (min-width: 2400px) {
html { font-size: 28px;}
}
